:root {
    --primary-color: #1d54a6;
    --secondary-color: #a6b6c4;
    --tertiary-color: #5e8caa;
    --background-color: #d9dde1;
    --text-color: #333;
    --button-hover-color: #13407a;
    --font-family: 'Montserrat', sans-serif;
    --white: #ffffff;
    --heading-size: 24px;
    --label-size: 14px;
    --button-padding: 10px;
}

body {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: var(--font-family);
}

.profile-container {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-container h2 {
    text-align: center;
    font-size: var(--heading-size);
    margin-bottom: 20px;
    color: var(--white);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: var(--label-size);
    color: var(--white);
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.submit-button {
    grid-column: span 2;
    padding: var(--button-padding);
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.back-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.back-button:hover {
    background-color: var(--button-hover-color);
}

.submit-button:hover {
    background-color: var(--button-hover-color);
}